In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('Data/menu_items.csv', low_memory = False)

In [18]:
relevant_columns = ['Restaurant_Item_Name', 'restaurant', 'Item_Name', 'Item_Description', 'Food_Category', 'Sugar']
df_relevant = df.loc[:, relevant_columns]
df_relevant.dropna(inplace = True)

In [20]:
df_relevant.describe()

              Sugar
count  52931.000000
mean      21.902446
std       34.088833
min        0.000000
25%        2.000000
50%        7.000000
75%       30.000000
max      783.000000

In [24]:
df_relevant['Serving_Size_Unit'].value_counts()

Serving_Size_Unit
g        10053
fl oz     8292
oz        4625
Name: count, dtype: int64

In [19]:
value_counts = df_relevant['restaurant'].value_counts()
for value, count in value_counts.items():
    print(f'{value}: {count}')

Starbucks: 3562
Jersey Mike's Subs: 1582
Dunkin' Donuts: 1410
Golden Corral: 1339
Perkins: 926
Dominos: 819
Wawa: 797
White Castle: 699
Baskin Robbins: 642
Whataburger: 631
Jack in the Box: 518
Einstein Bros: 511
Tim Hortons: 496
Round Table Pizza: 418
Frisch's Big Boy: 415
Subway: 413
Papa John's: 397
Denny's: 395
Auntie Anne's: 371
Bob Evans: 347
Carl's Jr.: 342
Burger King: 318
Krispy Kreme: 284
El Pollo Loco: 278
Culver's: 263
Arby's: 261
Panda Express: 250
Zaxby's: 241
Taco Bell: 220
Church's Chicken: 218
Del Taco: 216
Steak 'N Shake: 214
KFC: 207
Chili's: 205
Panera Bread: 189
Long John Silver's: 173
IHOP: 151
Pizza Hut: 145
Qdoba: 142
Krystal: 129
Chipotle: 127
Jamba Juice: 114
Popeyes: 109
Hardee's: 103
McAlister's Deli: 100
Red Robin: 89
Bojangles: 88
California Pizza Kitchen: 81
Boston Market: 75
Applebee's: 72
Famous Dave's: 71
Checker's Drive-In/Rallys: 66
Jason's Deli: 57
Papa Murphy's: 57
O'Charley's: 53
Five Guys: 51
Joe's Crab Shack: 45
LongHorn Steakhouse: 45
In-N-Out Burger: 40
Casey's General Store: 35
The Capital Grille: 26
Captain D's: 22
7 Eleven: 22
Bonefish Grill: 22
Ci Ci's Pizza: 22
Chuck E. Cheese: 21
Red Lobster: 20
TGI Friday's: 19
Carrabba's Italian Grill: 18
Little Caesars: 17
Yard House: 17
Dairy Queen: 14
Hooters: 14
Marco's Pizza: 14
Sbarro: 14
Potbelly Sandwich Shop: 13
Wingstop: 11
McDonald's: 11
Sonic: 10
Quiznos: 10
Dickey's Barbeque Pit: 6
Olive Garden: 5
Wendy's: 5
Outback Steakhouse: 3
PF Chang's: 1
Sheetz: 1

In [28]:
df_relevant['Sugar'].value_counts()

Sugar
0.0      9561
2.0      3647
1.0      3314
3.0      2789
4.0      2315
         ...
5.3         1
20.2        1
161.8       1
3.6         1
17.7        1
Name: count, Length: 460, dtype: int64