In [1]:
import pandas as pd
import numpy as np
import json

In [118]:
data_yelp_business = open('Data/yelp_academic_dataset_business.json', encoding = 'utf-8')
data_business = []
for line in data_yelp_business:
    data_business.append(json.loads(line))
business_df = pd.DataFrame(data_business)
data_yelp_business.close()

In [119]:
business_df['postal_code'] = pd.to_numeric(business_df['postal_code'], errors='coerce')
business_df['postal_code'] = business_df['postal_code'].astype('Int64')
business_df = business_df.dropna(subset=['postal_code'])
business_df = business_df[business_df['postal_code'].apply(lambda x: len(str(x))) == 5]
business_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136176 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   136176 non-null  object
 1   name          136176 non-null  object
 2   address       136176 non-null  object
 3   city          136176 non-null  object
 4   state         136176 non-null  object
 5   postal_code   136176 non-null  Int64
 6   latitude      136176 non-null  float64
 7   longitude     136176 non-null  float64
 8   stars         136176 non-null  float64
 9   review_count  136176 non-null  int64
 10  is_open       136176 non-null  int64
 11  attributes    123811 non-null  object
 12  categories    136083 non-null  object
 13  hours         115425 non-null  object
dtypes: Int64(1), float64(3), int64(2), object(8)
memory usage: 15.7+ MB

In [121]:
zip_codes = business_df['postal_code'].value_counts()
top100_zip_codes = zip_codes.head(100)
top100_zip_codes.sum()

61862

In [122]:
business_df = business_df[business_df['postal_code'].isin(top100_zip_codes.index)]
business_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61862 entries, 0 to 150343
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   61862 non-null  object
 1   name          61862 non-null  object
 2   address       61862 non-null  object
 3   city          61862 non-null  object
 4   state         61862 non-null  object
 5   postal_code   61862 non-null  Int64
 6   latitude      61862 non-null  float64
 7   longitude     61862 non-null  float64
 8   stars         61862 non-null  float64
 9   review_count  61862 non-null  int64
 10  is_open       61862 non-null  int64
 11  attributes    56471 non-null  object
 12  categories    61828 non-null  object
 13  hours         52539 non-null  object
dtypes: Int64(1), float64(3), int64(2), object(8)
memory usage: 7.1+ MB

In [123]:
def split_into_list(string):
    category_list = string.split(',')
    category_list = [x.strip() for x in category_list]
    return category_list
def is_a_restaurant(lst):
    return any("Restaurants" in x for x in lst)

business_df['categories'] = business_df['categories'].astype(str)
business_df['categories'] = business_df['categories'].apply(split_into_list)
mask = business_df['categories'].apply(is_a_restaurant)
restaurant_df = business_df[mask]

In [124]:
restaurant_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20059 entries, 3 to 150336
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   20059 non-null  object
 1   name          20059 non-null  object
 2   address       20059 non-null  object
 3   city          20059 non-null  object
 4   state         20059 non-null  object
 5   postal_code   20059 non-null  Int64
 6   latitude      20059 non-null  float64
 7   longitude     20059 non-null  float64
 8   stars         20059 non-null  float64
 9   review_count  20059 non-null  int64
 10  is_open       20059 non-null  int64
 11  attributes    19870 non-null  object
 12  categories    20059 non-null  object
 13  hours         17410 non-null  object
dtypes: Int64(1), float64(3), int64(2), object(8)
memory usage: 2.3+ MB